body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-flow: column;
    margin: 0;
    min-height: 100vh;
    max-width:900px;
}

.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight:bolder;
    color: #f9faf8;
    padding-left: 50px;
    padding-right: 50px;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 5px;
    padding-left: 0;
}

a{
    text-decoration: none !important;
    color: #ebe5eb;
    font-size: 18px;
    font-weight: normal;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    gap: 12px;
}

.mainText{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondaryText , .footer{
    color: #e5e7eb;
    font-size: 18px;
}

.footer , .hero , .header{
    background-color: #1f2937;
}

img{
    min-width: 350px;
}

.leftSide{
    min-width: 350px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fix visuals */
button{
    align-self: center;
    flex: none;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    border-color:transparent;
    margin: 8px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    
}

.information{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.informationContent{
    display: flex;
    justify-content: space-between;
}

.informationHeader{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.item{
    max-width: 100px;
}

.quote{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quoteFrom{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

}

.action{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.actionBox{
    display: flex;
    justify-content: space-between;
}

.actionText{
    padding: 30px;
}